
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>


            <link rel="stylesheet" href="style.css">
            <style>

                .btn {
                    background-color: darkcyan;
                    border: none;
                    color: white;
                    padding: 16px 32px;
                    text-align: center;
                    font-size: 16px;
                    margin: 4px 2px;
                    opacity: 0.6;
                    transition: 0.3s;
                }

                    .btn:hover {
                        opacity: 1
                    }

                .form-gap {
                    padding-top: 100px;
                    background: transparent;
                }
            </style>

            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

            <script>
                function validation() {
                    var password1 = document.getElementById("password").value;

                    if (password1.length < 8 || password1 > 15) {
                        return false;
                    }
                }




            </script>


            <script>
                window.onload = function () {

                    !function (a) {
                        a(function () {
                            a('[data-toggle="password"]').each(function () {
                                var b = a(this);
                                var c = a(this).parent().find(".input-group-addon");
                                c.css("cursor", "pointer").addClass("input-password-hide");
                                c.on("click", function () {
                                    if (c.hasClass("input-password-hide")) {
                                        c.removeClass("input-password-hide").addClass("input-password-show");
                                        c.find(".fa").removeClass("fa-eye").addClass("fa-eye-slash");
                                        b.attr("type", "text")
                                    } else {
                                        c.removeClass("input-password-show").addClass("input-password-hide");
                                        c.find(".fa").removeClass("fa-eye-slash").addClass("fa-eye");
                                        b.attr("type", "password")
                                    }
                                })
                            })
                        })
                    }(window.jQuery);


                }
            </script>

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        </head>

        <!------ Include the above in your HEAD tag ---------->
        <body>
            <div class="form-gap"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-center">
                                    <h3><i class="fa fa-key fa-4x"></i></h3>
                                    <h2 class="text-center">New Password</h2>
                                    <p>You can reset your password here.</p><br>
                                    <small style="color:red">NOTE:Your password must be in length between 8 and 15</small>
                                    <div class="panel-body">

                                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
                                        {
                                            <div class="form-group">
                                                <div class="input-group">


                                                    <input id="password" name="password" placeholder="New password" data-toggle="password" class="form-control" type="password" maxlength="15" required>

                                                    <span style="text-align: right;" class="input-group-addon"><i class="fa fa-eye"></i></span>

                                                </div>



                                            </div>
                                            <div class="form-group">
                                                <input name="recover-submit" class="btn" value="Set password" type="submit">
                                            </div>

                                            <input type="hidden" class="hide" name="token" id="token" value="">
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>


  